.container {
  display: grid;
  place-items: center;
  width: screen;
}
.image {
  width: 100vw;
  background-color: #3a399a;
}
body {
  background: #3e28ce3a;
}
@media (min-width: 991px) {
  .image {
    width: 70vw;
  }
}
